@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); /* poppins */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.transitions{
    transition: ease 0.3s;
}


input[type="text"]:focus ~ .input-text{
    @apply text-blue-500 bg-white transform -translate-y-36 -translate-x-96 opacity-100;


}

/* Initial state of entering the element */
.fade-enter {
    opacity: 1;
}

/* Transition for entering element */
.fade-enter-active {
    opacity: 0;
    transition: ease-in;
    transform: translate(0px, 150px);
}

/* Initial state of exiting the element */
.fade-exit {
    opacity: 1;
}

/* Transition for exiting element */
.fade-exit-active {
    opacity: 0;
    transition: ease-out 150ms;
    transform: translate(0px, 150px);
}

.transition-move {
    transition: transform ease 0.5s;
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-up {
    animation: slide-up 0.2s ease-out forwards;
  }
  